<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="style.css")
    title Watch Together Example
  body.flex.justify-center.items-center.w-screen.h-screen
    video(src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" controls)
    script window.WATCH_TOGETHER_DEBUG=true
    script(src="http://localhost:3000/watch-together.js")
